extends layout

block content
         h1.text-center Gerudo Town
         div
           a.btn.btn-warning.pull-right(href='/botwmap') Back to Map
           a.btn.btn-info.pull-right(href='/counter') Counter System
           img.cityimg.img-responsive.col-sm-6.col-xs-12(src="/images/gerudo.png")
           div.col-sm-6.col-xs-12 
            text Description:
            p &nbsp; Located far off in the center of the Gerudo Desert, Gerudo Town is a large vibrant community and home to the Gerudo people, who are all female. The Gerudo are fiercely protective of their culture, and do not allow a male (voe) into their town. Only females (vai) are allowed entry.            
           div.col-sm-6.col-xs-12 
            text Points of interest:
            p &nbsp; The town contains several shops such as The Jewelry, Fruit Stand, Meat Stand, Arrow Shop, Mushroom Stand, Armour shop, and Hotel Oasis. 
            table
              th Arrows Found in the town: 
             tr
                img(src="/images/fireA.png")
                img(src="/images/iceA.png")
                img(src="/images/shockA.png")
               
