extends layout

block content
         h1.text-center Goron City
         div
           a.btn.btn-danger.pull-right(href='/botwmap') Back to Map
           a.btn.btn-info.pull-right(href='/counter') Counter System
           img.cityimg.img-responsive.col-sm-6.col-xs-12(src="/images/goron.png")
           div.col-sm-6.col-xs-12 
            text Description:
            p &nbsp; Goron City is a town in the Eldin Region in the northcentral portion of Hyrule. Found in one of the hotter parts of the Eldin Region, Goron City will cause those not wearing protective gear or using flameproof elixirs to burst into flames. Luckily, both can be bought here. Goron City is home to the Goron people, led by their Boss. There are a few shops, an inn, and more to be found in the city.
           div.col-sm-6.col-xs-12 
            text Points of interest:
            p &nbsp; The town contains several shops such as The Goron Guston Shop, The Grilling Joint, Ripped and Shredded armour shop, and the Rollin 'inn.
              table
               th Arrows Found in the town: 
             tr
                img(src="/images/fireA.png")