extends layout

block content
         h1.text-center Kakariko Village
         div
           a.btn.btn-info.pull-right(href='/botwmap') Back to Map
           a.btn.btn-info.pull-right(href='/counter') Counter System
           img.cityimg.img-responsive.col-sm-6.col-xs-12(src="/images/kakariko.jpg")
           div.col-sm-6.col-xs-12 
            text Description:
            p &nbsp; In Breath of the Wild, Kakariko Village is located in the northeast side of West Necluda. It is a moderately sized mountain village mainly inhabited by members of the Sheikah race. It is currently governed by Impa. The village resembles a traditional Japanese village, which fits with the Sheikah's culture and ninja-like attributes. One of Hylia's Goddess Statues can be found in the center of the village, and several frog statues are located in front of Impa's house. Impa's granddaughter Paya explains that the frog statues represent guardian deities that are like signposts guiding mortals through their lives. These statues have plates in front of them which people can place offerings. If Link places an Apple in all of the empty offering plates, a Korok will appear. Ten thousands years ago the Sheikah were a powerful and highly advanced race with great knowledge and information. However, as time passed, they became feared by the Hylians due to their advanced technology, in particular Guardians and Divine Beasts constructed to aid the Royal Family of Hyrule. Branded as outcasts, the Sheikah retreated into the mountains and founded Kakariko Village to live away from the rest of civilization. However, they have continued to secretly aid the Hylian royal family despite their seclusion. According to Impa, the Great Fairy Cotera who dwells nearby, has been watching over and protecting it since its foundation. Kakariko Village later survived the Great Calamity probably due to its secluded location. The people of the village do not take kindly to strangers, and as such, few people outside of the Sheikah race live there. However, trade with the outside world is allowed and thus many traveling merchants come to the town to sell goods and interact. The Sheikah wear special rain resistant clothing that allows them to work even when it is raining and they refuse to sell these to non-Sheikah people. The Sheikah villagers often write down their worries in a journal found in Impa's house. 
           div.col-sm-6.col-xs-12 
            text Points of interest:
            p &nbsp; The town contains several shops such as The Curious Quiver, Enchanted, and High Spirits Produce. Due to a rivalry between Steen the Swift Carrot farmer and Olkin the Fortified Pumpkin farmer, Olkin sells his pumpkins at his patch instead of High Spirits Produce. Despite their rivalry the village is famous for both vegetables. Link can fish for captive breed Sanke Carp swimming in the small moat-like waterway that surrounds Impa's House and nearby Lantern Lake. The Ta'loh Naeg Shrine acts as the fast travel point for Kakariko Village. The Fang and Bone shop appears next to Lantern Lake at night after Link encounters Kilton at Skull Lake. 
                table
                 th Arrows Found in the town: 
              tr
                img(src="/images/fireA.png")