extends layout

block content
         h1.text-center Rito Village
         div
           a.btn.btn-success.pull-right(href='/botwmap') Back to Map
           a.btn.btn-info.pull-right(href='/counter') Counter System
           img.cityimg.img-responsive.col-sm-6.col-xs-12(src="/images/rito.png")
           div.col-sm-6.col-xs-12 
            text Description:
            p &nbsp; The location known as Rito Village is located in the middle of Lake Totori. You can access it from a bridge from the east in western Hyrule. Rito is home to the flying Rito people as well as an Inn, a General Store, and an Armor Shop. You can learn about the Divine Beast Vah Medoh here, which used to be an ally of the Rito and protected the village. You can speak to various people. Look around for some hidden goodies, like an Opal in a pot, a Swallow Bow in Harth's house, and more. Your interactions will be limited when you first get here.  
           div.col-sm-6.col-xs-12 
            text Points of interest:
            p &nbsp; The town contains a few shops such as The Slippery Falcon, and Brazen Beak.
             table
              th Arrows Found in the town: 
             tr
                img(src="/images/bombA.png")