extends layout

block content
         h1.text-center Zoras Domain
         div
           a.btn.btn-primary.pull-right(href='/botwmap') Back to Map
           a.btn.btn-info.pull-right(href='/counter') Counter System
           img.cityimg.img-responsive.col-sm-6.col-xs-12(src="/images/zora.png")
           div.col-sm-6.col-xs-12 
            text Description:
            p &nbsp; Zora's Domain is found in the Lanaryu Region. This town is home to the water-loving Zora. The Ne'ez Yohma Shrine sits right at the center of Zora's Domain. Be sure to access it so that you have an instant travel spot to warp to. Many Zora remember you, including Kodah, who affectionately calls you Linny. Follow the path and talk to the rather large Zora you encounter - the Zora King - to activate the Divine Beast Vah Ruta quest. He will also give you a piece of the Zora Set. Before you continue on that quest, though, find and talk to Laflat to begin the Lynel Safari Side Quest. This involves taking a picture of a red-maned Lynel on nearby Loymus Mountain. This can be completed at the same time as your main objective, and will net you another piece of the Zora Set. 
           div.col-sm-6.col-xs-12 
            text Points of interest:
            p &nbsp; The town contains several shops such as Marots Mart, The Seabed Inn, and Dento a zora that repairs weapons. 
            table
              th Arrows Found in the town: 
             tr
                img(src="/images/iceA.png")